{% extends 'page/layouts/main.html' %}

{% block title %}
Women | Online Shopping
{% endblock title%}

{% block content %}
{% load static %}
<div>
  <video class="adver" autoplay muted loop>
    <source src="{% static 'images/por1.mp4' %}" type="video/mp4">
  </video>
  <div class="carousel-caption">
    <h1 class="ml2">♩♪♫ W҉O҉M҉E҉N҉ ♫♪♩</h1>
  </div>
</div>
<script>
  // Wrap every letter in a span
  var textWrapper = document.querySelector('.ml2');
  textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");

  anime.timeline({ loop: true })
    .add({
      targets: '.ml2 .letter',
      scale: [4, 1],
      opacity: [0, 1],
      translateZ: 0,
      easing: "easeOutExpo",
      duration: 950,
      delay: (el, i) => 70 * i
    }).add({
      targets: '.ml2',
      opacity: 0,
      duration: 1000,
      easing: "easeOutExpo",
      delay: 1000
    });
</script>




<div ng-app="">
  <div id="filter">
    <div>
      <h3>Filter</h3>
      <button type="button" class="btn btn-outline-success dropdown-toggle" data-toggle="dropdown">cartegory</button>
      <div class="dropdown-menu">
        <ul class="navbar-nav container">
          <li><a href="/men">Men</a></li>
          <li><a href="/women">Women</a></li>
          <li><a href="/childs">Child</a></li>
          <li><a href="/adverntures">Adverntures</a></li>
        </ul>
      </div>
    </div>



    <div>
      <h3>Brand</h3>
      <form>
        <button type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown">Company</button>
        <div class="dropdown-menu">
          <input type="checkbox" id="cycle" name="company1" ng-model="avonw">
          <label for="company1">Avon</label><br>
          <input type="checkbox" id="cycle" name="company2" ng-model="bianchiw">
          <label for="company2">Bianchi</label><br>
          <input type="checkbox" id="cycle" name="company3" ng-model="bmcw">
          <label for="company3">BMC</label><br>
          <input type="checkbox" id="cycle" name="company4" ng-model="cervelow">
          <label for="company4">Cervelo</label><br>
          <input type="checkbox" id="cycle" name="company5" ng-model="colnagow">
          <label for="company5">Colnage</label><br>

        </div>
    </div>
  </div>


  <div style="margin-left: 20px; float: left;">
    <h3>Under Process</h3>
    <button type="button" class="btn btn-outline-success dropdown-toggle" data-toggle="dropdown">Most
      Relevant</button>
    <div class="dropdown-menu">
      <input type="checkbox" id="cycle" name="company1" value>
      <label for="company1">price:Low to High</label><br>
      <input type="checkbox" id="cycle" name="company2" value>
      <label for="company2">Price:High to Low</label><br>
      <input type="checkbox" id="cycle" name="company3" value>
      <label for="company3">Rating</label><br>
      <input type="checkbox" id="cycle" name="company4" value>
      <label for="company4">Popular</label><br>
      <input type="checkbox" id="cycle" name="company5" value>
      <label for="company5">Cheap and Best</label>
    </div>

    <div>
      <h3>Tools</h3>
      <button type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown">spare pots</button>
      <div class="dropdown-menu">
        <input type="checkbox" id="cycle" name="company1" ng-model="helmet">
        <label for="company1">Helmet</label><br>
        <input type="checkbox" id="cycle" name="company2" value>
        <label for="company2">Safety Vest</label><br>
        <input type="checkbox" id="cycle" name="company3" value>
        <label for="company3">Jackets</label><br>
        <input type="checkbox" id="cycle" name="company4" value>
        <label for="company4">Stand</label><br>
        <input type="checkbox" id="cycle" name="company5" value>
        <label for="company5">Horn</label><br>
        <input type="checkbox" id="cycle" name="company6" value>
        <label for="company6">Bottle cage</label><br>
        <input type="checkbox" id="cycle" name="company7" value>
        <label for="company7">Hand Gloves</label><br>
        <input type="checkbox" id="cycle" name="company8" value>
        <label for="company8">Handle Bar</label><br>
        <input type="checkbox" id="cycle" name="company9" value>
        <label for="company9">Light</label><br>
        <input type="checkbox" id="cycle" name="company10" value>
        <label for="company10">Tyre</label>
      </div>
    </div>
  </div>
  </form>


 
<div class="container">
  <h5 style="text-align: center;font-family: Times New Roman;font-size: 50px;">Click the brand to view the products</h5>

  <div class="slider-container">
    <div class="left-arrow"><i class="fa fa-angle-left" style="font-size:24px"></i></div>
    <div class="slider-content" id='slider-content'>
      {% for item in cycless %}
      <div class='slide'>
        
        <div class="media">
          
          <div>
            <div ng-show="{{item.show}}" class="container" style="height: 500px;">
        
              <div class="sale">
                <div class="bg-danger">{{ item.name }}</div>
                <img src="{{item.product_image.url}}" class="best">
        
        
                <div>
                  <span>
                    SKU: </span>
                  <span>
                    {{item.sku}} </span>
                </div>
                <h5>CHASE {{ item.chase }}</h5>
                <div>
                  <div class=" star-rating" role="img" aria-label="Rated 0 out of 5">
                    <span style="width:0%">Rated<div id="rate"><span class="fa fa-star checked"></span><span
                          class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span
                          class="fa fa-star checked"></span><span class="fa fa-star checked"></span></div></span>
                  </div>
        
                </div>
                <div>
                  <div>
                    <span class="price"><span class="th-price"><ins><span><bdi><span>₹</span>{{ item.original_price | stringformat:'d'}}</bdi></span></ins> <del><span
                            class="woocommerce-Price-amount amount"><bdi><span>₹</span>{{ item.selling_price | stringformat:'d'}}</bdi></span></del></span></span>
                  </div>
                  <div><a href=" {% url 'product_details' item.name %}" class="buy"><button class="btn btn-primary"
                        data-toggle="modal" data-target="#myModal{{item.sku}}"><span style="color: aliceblue;">View
                          Detials</span></button></a>
                  </div>
                  <div><a href="{% url 'buys'  item.name %}"><button class="btn btn-success btn-sm">
                    <svg class="th-icon-cart" xmlns="http://www.w3.org/2000/svg" width="20" height="20">
                      <circle cx="7" cy="17" r="2"></circle>
                      <circle cx="15" cy="17" r="2"></circle>
                      <path d="M20,4.4V5l-1.8,6.3c-0.1,0.4-0.5,0.7-1,0.7H6.7c-0.4,0-0.8-0.3-1-0.7L3.3,3.9C3.1,3.3,2.6,3,2.1,3H0.4C0.2,3,0,2.8,0,2.6
                      V1.4C0,1.2,0.2,1,0.4,1h2.5c1,0,1.8,0.6,2.1,1.6L5.1,3l2.3,6.8c0,0.1,0.2,0.2,0.3,0.2h8.6c0.1,0,0.3-0.1,0.3-0.2l1.3-4.4
                      C17.9,5.2,17.7,5,17.5,5H9.4C9.2,5,9,4.8,9,4.6V3.4C9,3.2,9.2,3,9.4,3h9.2C19.4,3,20,3.6,20,4.4z">
                      </path>
                    </svg>Buy Now</button></a></div>
                </div>
              </div>
        
            </div>
          </div>
        </div>
       
      </div>
      {% endfor %}
    </div>
    <div class="right-arrow"><i class="fa fa-angle-right" style="font-size:24px"></i></div>
  </div>
</div>

  <script>
  
    // This slider is for atleast 5 numbers of slides to n numbers of slides
    // you can go through by clicking left or right button or swipe left or right
    
    var sliders = document.querySelectorAll(".slide");
    var center = Math.floor(sliders.length / 2);
    var leftEndBack = center - 3 >= 0? center - 3 : undefined;
    var leftEnd = center - 2 >= 0? center - 2 : undefined;
    var leftMid = center - 1 >= 0? center - 1 : undefined;
    var rightMid = center + 1 < sliders.length? center + 1 : undefined;
    var rightEnd = center + 2 < sliders.length? center + 2 : undefined;
    var rightEndBack = center + 3 < sliders.length? center + 3 : undefined;
    let touchstartX = 0
    let touchendX = 0
    let container = document.getElementById('slider-content');
    
    if (leftEndBack != undefined) sliders[leftEndBack].classList.add("position-none");
    if (leftEnd != undefined) sliders[leftEnd].classList.add("position-1");
    if (leftMid != undefined) sliders[leftMid].classList.add("position-2");
    if (center != undefined) sliders[center].classList.add("position-3");
    if (rightMid != undefined) sliders[rightMid].classList.add("position-4");
    if (rightEnd != undefined) sliders[rightEnd].classList.add("position-5");
    if (rightEndBack != undefined) sliders[rightEndBack].classList.add("position-none");
    
    if (sliders.length > 0) $('.slide').addClass('position-none');
    
    
    function leftScroll(){
      
      if(leftEndBack != undefined){
        sliders[leftEndBack].classList.remove("position-none");
        sliders[leftEndBack].classList.add("position-1");
      }
      else{
        sliders[rightEnd].classList.remove("position-none");
        sliders[rightEnd].classList.add("position-1");
      }
      
      if(leftEnd != undefined){
        sliders[leftEnd].classList.remove("position-1");
        sliders[leftEnd].classList.add("position-2");
      }
      
      if(leftMid != undefined){
        sliders[leftMid].classList.remove("position-2");
        sliders[leftMid].classList.add("position-3");
      }
      
      if(center != undefined){
        sliders[center].classList.remove("position-3");
        sliders[center].classList.add("position-4");
      }
      
      if(rightMid != undefined){
        sliders[rightMid].classList.remove("position-4");
        sliders[rightMid].classList.add("position-5");
      }
      
      if(rightEnd != undefined){
        sliders[rightEnd].classList.remove("position-5");
        sliders[rightMid].classList.add("position-none");
      }
      
      leftEndBack != undefined ? leftEndBack-- : leftEndBack;
      leftEnd != undefined? leftEnd-- : leftEnd;
      leftMid != undefined? leftMid-- : leftMid;
      center != undefined? center-- : center;
      rightMid != undefined? rightMid-- : rightMid;
      rightEnd != undefined? rightEnd-- : rightEnd;
      rightEndBack != undefined ? rightEndBack-- : rightEndBack;
      
      if(leftEndBack != undefined && leftEndBack == -1)
        leftEndBack = sliders.length - 1;
      if(leftEnd != undefined && leftEnd == -1)
        leftEnd = sliders.length - 1;
      if(leftMid != undefined && leftMid == -1)
        leftMid = sliders.length - 1;
      if(center != undefined && center == -1)
        center = sliders.length - 1;
      if(rightMid != undefined && rightMid == -1)
        rightMid = sliders.length - 1;
      if(rightEnd != undefined && rightEnd == -1)
        rightEnd = sliders.length - 1;
      if(rightEndBack != undefined && rightEndBack == -1)
        rightEndBack = sliders.length - 1;
    }
    
    function rightScroll(){
      
      if(leftEnd != undefined){
        sliders[leftEnd].classList.remove("position-1");
        sliders[leftEnd].classList.add("position-none");
      }  
      if(leftMid != undefined){
        sliders[leftMid].classList.remove("position-2");
        sliders[leftMid].classList.add("position-1");
      }  
      if(center != undefined){
        sliders[center].classList.remove("position-3");
        sliders[center].classList.add("position-2");
      }  
      if(rightMid != undefined){
        sliders[rightMid].classList.remove("position-4");
        sliders[rightMid].classList.add("position-3");
      }  
      if(rightEnd != undefined){
        sliders[rightEnd].classList.remove("position-5");
        sliders[rightEnd].classList.add("position-4");
      }
      if(rightEndBack != undefined){
        sliders[rightEndBack].classList.remove("position-none");
        sliders[rightEndBack].classList.add("position-5");
      }
      else if(leftEndBack != undefined){
        sliders[leftEndBack].classList.remove("position-none");
        sliders[leftEndBack].classList.add("position-5");
      }
      else{
        sliders[leftEnd].classList.remove("position-none");
        sliders[leftEnd].classList.add("position-5");
      }
      
      leftEndBack != undefined? leftEndBack++ : leftEndBack;
      leftEnd != undefined? leftEnd++ : leftEnd;
      leftMid != undefined? leftMid++ : leftMid;
      center != undefined? center++ : center;
      rightMid != undefined? rightMid++ : rightMid;
      rightEnd != undefined? rightEnd++ : rightEnd;
      rightEndBack != undefined? rightEndBack++ : rightEndBack;
    
      if(leftEndBack != undefined && leftEndBack == sliders.length)
        leftEndBack = 0;
      if(leftEnd != undefined && leftEnd == sliders.length)
        leftEnd = 0;
      if(leftMid != undefined && leftMid == sliders.length)
        leftMid = 0;
      if(center != undefined && center == sliders.length)
        center = 0;
      if(rightMid != undefined && rightMid == sliders.length)
        rightMid = 0;
      if(rightEnd != undefined && rightEnd == sliders.length)
        rightEnd = 0;
      if(rightEndBack != undefined && rightEndBack == sliders.length)
        rightEndBack = 0;
    }
    
    class Swipe {
        constructor(element) {
            this.xDown = null;
            this.yDown = null;
            this.element = typeof(element) === 'string' ? document.querySelector(element) : element;
    
            this.element.addEventListener('touchstart', function(evt) {
                this.xDown = evt.touches[0].clientX;
                this.yDown = evt.touches[0].clientY;
            }.bind(this), false);
    
        }
    
        onLeft(callback) {
            this.onLeft = callback;
    
            return this;
        }
    
        onRight(callback) {
            this.onRight = callback;
    
            return this;
        }
    
        handleTouchMove(evt) {
            if ( ! this.xDown || ! this.yDown ) {
                return;
            }
    
            var xUp = evt.touches[0].clientX;
            var yUp = evt.touches[0].clientY;
    
            this.xDiff = this.xDown - xUp;
            this.yDiff = this.yDown - yUp;
    
            if ( Math.abs( this.xDiff ) > Math.abs( this.yDiff ) ) { 
                if ( this.xDiff > 0 ) {
                    this.onLeft();
                } else {
                    this.onRight();
                }
            } else {
                if ( this.yDiff > 0 ) {
                    this.onUp();
                } else {
                    this.onDown();
                }
            }
    
            this.xDown = null;
            this.yDown = null;
        }
    
        run() {
            this.element.addEventListener('touchmove', function(evt) {
                this.handleTouchMove(evt).bind(this);
            }.bind(this), false);
        }
    }
    
    var swiper = new Swipe(container);
    
    
    //left scroll
    $(".left-arrow").on("click", leftScroll);
    
    swiper.onRight(function () {
      leftScroll();
    });
    swiper.run();
    

    $(".right-arrow").on("click", rightScroll);
    
    swiper.onLeft(function () {
      rightScroll();
    });
    swiper.run();
    

    </script>



</div>
{% endblock content %}